body {
  background-color: #121212;
}

.CodeEditorBox {
  width: 100%;
  margin-top: 20px;
  padding: 30px;
}


/* Media Queries */

@media only screen and (max-width: 600px) {
  .CodeEditorBox {
    width: auto;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .CodeEditorBox {
    width: auto;
  }
}